* {
	margin: 1em;
	padding: 1em;
	box-sizing:border-box;
	background-color: #d1dbbd;
}
@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
body {
	background-color: #fefefe;
	font-family: 'Noticia Text', serif;
	color: #34495e;
	font-size:16px;
	line-height: 2em;
}

div {
	text-align: center;
	background-color: #34495e;
}

img {
	width: 600px;
	padding: 0;
}
h1{
	font-weight: bold;
	text-align: center;
	padding-bottom: 2em;
	
}
ol {
	padding-left: 2em;
}
#second {
	font-size: 1.5em;
	color: #16a085;

}
