* {
	margin:0;
	padding:0;
	box-sizing:border-box;
	background-color: #d1dbbd;
}
@import url(https://fonts.googleapis.com/css?family=Noticia+Text);
body {
	background-color: #fefefe;
	font-family: helvetica, sans-serif;
	color: #34495e;
	font-size:16px;
	line-height: 2em;
}

div {
	text-align: center;
	background-color: #34495e;
}

img {
	width: 400px;
	padding: 1em;
}
h1{
	font-weight: bold;
	
}
ol {
	padding-left:1.25em;
}
#second {
	font-size: 1.5em;
	color: #16a085;

}
